<div ng-show="cadastro">
    <form name="formReserva" ng-submit="cadastrarReserva(reserva)">
            <div class="form-group">
                    <label for="cliente">Cliente:</label>
                    <select ng-model="reserva.IdCliente" class="form-control">
                            <option ng-repeat="cliente in clientes" value="{{cliente.IdCliente}}">{{cliente.NomeCliente}}</option>
                    </select>
            </div>
            <div class="form-group">
                    <label for="festa">Tipo de Festa:</label>
                    <select ng-model="reserva.IdFesta" class="form-control">
                            <option ng-repeat="festa in festas" value="{{festa.IdFesta}}">{{festa.NomeFesta}}</option>
                    </select>
            </div>
            <div class="form-group">
                    <label for="pacote">Tipo de Pacote:</label>
                    <select ng-model="reserva.IdPacote" class="form-control">
                            <option ng-repeat="pacote in pacotes" value="{{pacote.IdPacote}}">{{pacote.NomePacote}} | {{pacote.DescricaoPacote}}</option>
                    </select>
            </div>
            <div class="form-group">
                    <label for="opcionais">Selecione seu(s) Opciona(is)l:</label>
                    <select multiple id="opc" ng-model="reserva.Opcionais" class="form-control">
                            <option ng-repeat="opcional in opcionais" value="{{opcional.IdOpcional}}">{{opcional.NomeOpcional}}</option>
                    </select>
            </div>
            <div class="form-group">
                    <label for="date">Data da Reserva</label>
                    <input type="date" required class="form-control" ng-model="reserva.DataReserva">
            </div>
            <div class="form-group">
                    <label for="date">Data da Entrega Prevista</label>
                    <input type="date" required class="form-control" ng-model="reserva.DataEntregaPrevista">
            </div>
            <button type="submit" class="btn btn-default">Cadastrar</button>
    </form>
</div>

<div ng-show="cadastrado">   
        <table class="table table-striped">                        
                <tr>
                        <th>Nome Cliente</th>
                        <th>Tipo da Festa</th>
                        <th>Nome do Pacote</th>
                        <th>Opcionais</th>
                        <th>Data Reserva</th>
                        <th>Data Entrega Previsa</th>
                        <th>Subtotal</th>
                </tr>
                <tr>
                        <td>{{orcamento.Cliente.NomeCliente}}</td>
                        <td>{{orcamento.Festa.NomeFesta}}</td>
                        <td>{{orcamento.Pacote.NomePacote}}</td>
                        <td>{{orcamento.DataReserva}}</td>
                        <td>{{orcamento.DataEntregaPrevista}}</td>
                        <td>{{orcamento.TotalValorEstimado}}</td>
                </tr>
        </table>
</div>