*{
    box-sizing: 0;
    font-family: 'Open Sans', sans-serif;
}
body{ 
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background-image: url('img/bg.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.menu{
    width: 60%;
    height: 40px;
    background-color: rgba(192,192,192, 0.6);
    border-radius: 20px;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 180px;
}
.menu .menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu .menu-items .menu-item{
    display: inline-block;
    border-radius: 20px;
}
.menu .menu-items .menu-item .menu-link{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 65px;
    text-decoration: none; 
    font-weight: bold;
}

.menu .menu-items .menu-item:hover{
    background-color: gray;
}
.top_page_bar{
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 20px;
    margin-top: 80px;
    background-color: rgb(65,65,65);
}
.top_page_bar strong{
    font-size: 30px;
    color: rgb(255,255,255);
}
.conteudo{
    width: 60%;
    height: 100%;
    float: none;
    margin: 0 auto;
    background-color:rgb(211,211,211);
}
.conteudo .sumario{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.conteudo .jogo{
    padding-left: 20px;
    padding-right: 20px;
}
.conteudo .historia{
    padding-left: 20px;
    padding-right: 20px;
}
.conteudo .serie{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.conteudo .game{
    padding-left: 20px;
    padding-right: 20px;
}
.conteudo p{
    padding-left: 20px;
    padding-right: 20px;
}
.conteudo strong{
    font-size: 25px;
    padding-left: 20px;
}
.conteudo .game strong{
    font-size: 20px;
    padding-left: 20px;
}

.conteudo .titulo{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}
.conteudo .imagem{
    display: inline-block;
    width: 30%;
    padding-left: 20px;
    padding-right: 40px;
}

.conteudo .informacao{
    display: inline-block;
    width: 60%;
}
.conteudo .informacao strong{
    font-size: 15px;
}
.conteudo .informacao p{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
    text-align: justify;
}
