*{
    box-sizing: 0;
    font-family: 'Open Sans', sans-serif;
}
body{ 
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background-image: url('img/bg.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container{
  width: 100%;
  height: 50px;
  margin: 17.5% auto;
}
.menu{
    width: 50%;
    height: 40px;
    background-color: rgba(192,192,192, 0.4);
    border-radius: 20px;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 180px;
}
.menu .menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu .menu-items .menu-item {
    display: inline-block;
}
.menu .menu-items .menu-item .menu-link {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none; 
    font-weight: bold;
}
.top_page_bar{
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 20px;
    margin-top: 80px;
    background-color: rgb(65,65,65);
}
.top_page_bar strong{
    font-size: 30px;
    color: rgb(255,255,255);
}
.conteudo{
    width: 50%;
    height: 100%;
    float: none;
    margin: 0 auto;
    background-color:rgb(211,211,211);
}
.conteudo .sumario ul{
    margin-left: 15px;
}
.conteudo .jogo strong{
    margin-left: 10px;
    font-size: 25px;
}
.conteudo .jogo p{
    margin-left: 10px;
}
.conteudo .historia strong{
    margin-left: 10px;
    font-size: 25px;
}
.conteudo .historia p{
    margin-left: 10px;
}
.conteudo .serie strong{
    margin-left: 10px;
    font-size: 25px;
    padding-bottom: 20px;
}
.conteudo .game strong{
    font-size: 20px;
    margin-left: 10px;
}


.conteudo .titulo{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}
.conteudo .imagem img{
    display: inline-block;  width: 50%;
}

.conteudo .texto .informacao{
    display: inline-block;  width: 50%;
}
.conteudo .texto .informacao strong{
    font-size: 14px;
}
.conteudo .texto .informacao p{
    margin-top: 2px;
    margin-bottom: 2px;
}
