 <div class="row">
    <div class="col m2 l2"></div>
        <div class="col m8 l8"> 
            <form name="livros">
                <div class="livros" ng-repeat="livro in livrosTodos">        
                    <div class="block">
                        <h4>{{livro.Titulo}}</h4>
                        <p>{{livro.NomeAutor}}</p>
                        <p>{{livro.Genero}}</p>
                        <a ng-click="excluirLivro(livro)"> <img ng-src="{{livro.UrlImagem}}" width="130px"></a>
                    </div>
                </div>
            </form>
        </div>
    <div class="col m2 l2"></div>
</div>