<div class="row">
    <div class="col m2 l2"></div>
    <div class="col m8 l8">
        <form name="livros">
            <div class="livros" ng-repeat="livro in livrosNaoLancamentos">        
                <div class="block">
                    <h4>{{livro.Titulo}}</h4>
                    <p>{{livro.Descricao}}</p>
                    <p>{{livro.NomeAutor}}</p>
                    <p>{{livro.Genero}}</p>
                    <a ng-click="verLivro(livro.Id)"> <img ng-src="{{livro.Capa}}" width="130px"></a>
                </div>
            </div>
                <div class="before"><input class="btn btn-defaut btn-lg" type="submit" value="Voltar" ng-click="retornarPagina()"></div>
                <div class="next"><input class="btn btn-defaut btn-lg" type="submit" value="Avançar" ng-click="avancarPagina()"></div>
        </form>
    </div>
    <div class="col m2 l2"></div>
</div>
