<div>
	<div class="row">
		<div class="col-md-9">
            <h1>EDITORA CRESCER</h1>
		</div>
		<div class="col-md-3">
			<button type="button" class="btn btn-lg btn-block" ng-click="logar()">
				Login
			</button>
		</div>
	</div>

    <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-8">
                
            </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="caixaLivros">
                    <form name="livros">
                        <div ng-repeat="livro in livrosNaoLancamentos">
                            <div class="livro">
                                <div class="texto">
                                    <p><strong>{{livro.Titulo}}</strong></p>
                                    <p><strong>{{livro.NomeAutor}}</strong></p>
                                    <p><strong>{{livro.Genero}}</strong></p>
                                </div>
                                <div class="imagem">
                                    <img ng-src="{{livro.Capa}}" width="80px" height="120px">
                                </div>
                                <div class="botao">
                                    <input type="submit" value="Ver Detalhes" ng-click="verLivro(livro.Id)">
                                </div>
                            </div>
                        </div>
                        <div class="before"><input class="btn btn-defaut btn-lg" type="submit" ng-click=""></div>
                        <div class="next"><input class="btn btn-defaut btn-lg" type="submit" ng-click=""></div>
                    </form>
                </div>
            </div>
        <div class="col-md-2"></div>
    </div>
</div>