*{
    box-sizing: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    font-family: 'Lobster', cursive;
    font-family: 'Baloo', cursive;
    font-family: 'Karla', sans-serif;
    font-family: 'Quicksand', sans-serif;
    background-image: url("http://static.tumblr.com/3b759515087ff9fc19ab766a01cb155c/ozekbce/eaIo6906a/tumblr_static_bmd1e6ju0iokkkggk4844c4c0.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.before{
  margin-left: 10px;
  margin-top: 20px;
  float: left;
}
.next{
  margin-right: 10px;
  margin-top: 20px;
  float: right;
}
.login{
    padding: 20px;
    border-radius: 15px;
    background-color: lightgray;
} 
.block{
  margin-top: 10px;
  background-color: #ffe0b2;
  width: 30%;
  height: 400px;
  float: left;
  text-align:center;
  margin-left:10px;
}

.block p{
  text-align: center;
}

.block2{
  margin-top: 10px;
  background-color: #ffe0b2;
  width: 80%;
  margin: 0 auto;
  text-align:justify;
}

.block2 p {
    text-align:justify;
    margin-left: 10px;
    margin-right: 10px;
}

.block2 h4{
    text-align:center;
    margin-left: 10px;
    margin-right: 10px;
}

.block2 h3{
    text-align:center;
    margin-left: 10px;
    margin-right: 10px;
}

.block2 img{
    text-align:center;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
}

