  body{
            background-image: url("http://cdn.wallpapersafari.com/6/13/RZqdaf.jpg");
        }
        .col-md-8{
            margin-top: 30px;
            background-color: white;
            border-radius: 25px;
            border: 0.2px solid gray;
            padding-bottom: 20px;
        }
        #top{
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        #top h1{
            font-family: 'Barrio', cursive;
            color: black;
            font-size: 60px;
        }