<input type="checkbox" id="check">
<label id="icone" for="check"><img src="https://png.icons8.com/rocket/dusk/64" title="Rocket" width="64" height="64"></label>
<div class="barra">
    <nav>
        <a href="#!/home">
            <div class="link">HOME</div>
        </a>
        <a href="#!/convites">
            <div class="link">CONVITES PENDENTES</div>
        </a>
        <a href="#!/amigos">
            <div class="link">AMIGOS</div>
        </a>
        <a href="#!/perfil">
            <div class="link">MEU PERFIL</div>
        </a>
        <a href="#!/login">
            <div class="link" ng-click="logout()">LOGOUT</div>
        </a>
    </nav>
</div>

<div ng-repeat="amigo in amigos">
    <div class="listaAmigos">
        <div class="imagemAmigo"><img ng-src="{{amigo.idamigo.urlfoto}}"></div>
        <div class="nomeAmigo"><strong>{{amigo.idamigo.nome}}</strong></div>
        <div class="botaoPerfil"><a href="#!/perfil">Ver Perfil</a></div>
    </div>
</div>