<div class="cad_input">
    <form name="formCadastro">
        <img src="https://www.braskem.com.br/Portal/Braskem/img/hotsites/mis/astronauta.png">
        <div class="form-input">
            <label for="nome">Insira seu nome</label><br>
            <input type="text" maxlength="100" ng-model="usuario.nome" placeholder="Insira seu nome" required>
        </div>
        <div class="form-input">
            <label for="email">Insira seu email</label><br>
            <input type="email" maxlength="100" ng-model="usuario.email" placeholder="Insira seu email" required>
        </div>
        <div class="form-input">
            <label for="senha">Insira sua senha</label><br>
            <input type="password" maxlength="100" ng-model="usuario.senha" placeholder="Insira sua senha" required>
        </div>
        <div class="form-input">
            <label for="senha">Repita sua senha</label><br>
            <input type="password" maxlength="100" ng-model="comparar" placeholder="Insira sua senha novamente" required>
        </div>
        <div class="form-input">
            <label for="dataAniversario">Insira sua data de nascimento</label><br>
            <input type="date" ng-model="usuario.datanascimento">
        </div>
        <div class="form-input">
            <label for="sexo">Selecione seu sexo</label><br>
            <select ng-model="usuario.sexo">
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
        <div class="form-input">
            <label for="imagem">Insira sua url de imagem</label><br>
            <input type="text" ng-model="usuario.urlfoto" placeholder="ex: www.foto.com/foto.jpg">
        </div>
        <button type="submit" class="btn-login" ng-click="cadastrar(usuario)">Cadastrar</button>
        <button type="submit" class="btn-login" ng-click="voltar()" >Voltar</button>
    </form>
</div>