<input type="checkbox" id="check">
<label id="icone" for="check"><img src="https://png.icons8.com/rocket/dusk/64" title="Rocket" width="64" height="64"></label>
<div class="barra">
    <nav>
        <a href="#!/home">
            <div class="link">HOME</div>
        </a>
        <a href="#!/convites">
            <div class="link">CONVITES PENDENTES</div>
        </a>
        <a href="#!/amigos">
            <div class="link">AMIGOS</div>
        </a>
        <a href="#!/pesquisar">
            <div class="link">PESQUISA</div>
        </a>
        <a href="#!/perfil">
            <div class="link">MEU PERFIL</div>
        </a>
        <a href="#!/login">
            <div class="link" ng-click="logout()">LOGOUT</div>
        </a>
    </nav>
</div>

<div ng-show="perfil">
    <div class="cabecalhoPerfil">
        <div class="fotoPerfil">
            <img ng-src="{{userSession.urlfoto}}">
        </div>
        <div class="infosPerfil">
            <div class="nome">Nome: {{userSession.nome}}</div>
            <div class="dataNascimento">Data de Nascimento: {{userSession.datanascimento | date : "dd/MM/y"}}</div>
            <div class="sexo">Sexo: {{userSession.sexo | formataSexo}}</div>
            <div class="email">Email: {{userSession.email}}</div>
            <button type="submit" ng-click="editarUser()">Editar perfil</button>
        </div>
    </div>

    <div ng-repeat="post in postagensUsuario">
        <div class="Post">
            <div class="imagemPost">
                <p>{{post.idusuario.nome}}</p>
                <img ng-src="{{post.idusuario.urlfoto}}">
                <p>{{post.datapostagem | date : "dd.MM.y h:mm"}}</p>
            </div>
            <div class="dadoPost">
                <div class="texto">{{post.texto}}</div>
                <div class="imagem"><img ng-src="{{post.urlimagem}}"></div>
            </div>
        </div>
    </div>
</div>

<div ng-show="editar">
    <div class="cad_input">
        <form name="formCadastro">
            <img src="https://www.braskem.com.br/Portal/Braskem/img/hotsites/mis/astronauta.png">
            <div class="form-input">
                <label for="nome">Insira seu novo nome</label><br>
                <input type="text" ng-model="user.nome" placeholder="Insira seu nome">
            </div>
            <div class="form-input">
                <label for="dataAniversario">Insira sua data de nascimento</label><br>
                <input type="date" ng-model="user.datanascimento">
            </div>
            <div class="form-input">
                <label for="senha">Insira sua nova senha</label><br>
                <input type="password" ng-model="novasenha" placeholder="Insira sua senha">
            </div>
            <div class="form-input">
                <label for="senha">Repita sua nova senha</label><br>
                <input type="password" ng-model="comparar" placeholder="Insira sua senha novamente">
            </div>
            <div class="form-input">
                <label for="imagem">Insira sua url de sua nova imagem</label><br>
                <input type="text" ng-model="user.urlfoto" placeholder="ex: www.foto.com/foto.jpg">
            </div>
            <button type="submit" class="btn-login" ng-click="atualizar(user)">Cadastrar</button>
            <button type="submit" class="btn-login" ng-click="cancelarUser(user)">Voltar</button>
        </form>
    </div>
</div>