<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
        <style>
        #separator{
            height: 50px;
        }
        </style>

    </head>
    <body ng-app="aula3">
        <div ng-controller="controllerForm">
            
            <!---ADICIONAR AULAS -->

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1 align="center"> AULAS </h1>
                    <form novalidate name="formAula" ng-submit="addAula(aula)">
                        <label for="nome">NOME DA AULA</label>
                        <input type="text" class="form-control" ng-model="aula.nome" required>
                        <button class="btn btn-primary" type="submit"> Adicionar Aula</button>
                    </form>

                    <div ng-show="mostrarAulas">
                        <table class="table table-striped">                        
                            <tr>
                                <th>ID</th>
                                <th>AULA</th>
                            </tr>
                            <tr ng-repeat="aula in aulas">
                                <td>{{aula.id}}</td>
                                <td>{{aula.nome}}</td>
                                <td><button class="btn btn-warning" type="submit" ng-click="editAula(aula)"> Editar Aula</button></td>
                                <td><button class="btn btn-danger" type="submit" ng-click="removeAula(aula)"> Excluir Aula</button></td>
                            </tr>
                        </table>
                    </div>
                    <div ng-show="editarAula">
                        <input type="text" ng-model="aulaAtual.nome">
                        <button class="btn btn-success" type="button" ng-click="salvar(aulaAtual)">Salvar Alterações</button>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            
            <div id="separator" class="row">
                <div class="col-md-12"></div>  
            </div>
            
            <!--- adicionar instrutor -->

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                <h1 align="center"> INSTRUTORES </h1>
                <form novalidate name="form1" ng-submit="addInstrutor(instrutor)">
                    
                    <label for="nome">Insira o nome do instrutor</label>
                    <input class="form-control" maxlength="20" minlength="3" type="text" ng-model="instrutor.nome" required>
                    
                    <label for="sobrenome">Insira o sobrenome do instrutor</label>
                    <input class="form-control" maxlength="30" type="text" ng-model="instrutor.sobrenome">
                    
                    <label for="idade">Insira a idade do instrutor</label>
                    <input class="form-control" type="number" ng-model="instrutor.idade" required>
                    
                    <label for="email">Insira o email do instrutor</label>
                    <input class="form-control" type="email" ng-model="instrutor.email" required>
                    
                    <label for="checkbox">Este instrutor esta dando aulas no CRESCER?</label>
                    <input class="checkbox" type="checkbox" ng-model="instrutor.dandoAula" ng-true-value="'SIM'" ng-false-value="'NÃO'">

                    <label for="text">Foto do instrutor</label>
                    <input  class="form-control" type="text" ng-model="instrutor.urlFoto">
                     
                    <button class="btn btn-primary" type="submit" name="nome">ADICIONAR</button>
                </form>
                <div ng-show="mostrarInstrutor">
                    <table class="table table-striped">
                        <tr>
                            <th>ID</th>
                            <th>NOME</th>
                            <th>SOBRENOME</th>
                            <th>IDADE</th>
                            <th>EMAIL</th>
                            <th>DANDO AULA?</th>
                            <th>FOTO INSTRUTOR</th>
                        </tr>
                        <tr ng-repeat="instrutor in instrutores">
                            <td>{{instrutor.id}}</td>
                            <td>{{instrutor.nome}}</td>
                            <td>{{instrutor.sobrenome}}</td>
                            <td>{{instrutor.idade}}</td>
                            <td>{{instrutor.email}}</td>
                            <td>{{instrutor.dandoAula}}</td>
                            <td><img ng-src="{{instrutor.urlFoto}}" class="img-circle" width="60px" height="60px"></td>
                            <td><button class="btn btn-warning" type="submit" ng-click="editInstrutor(instrutor)"> Editar Aula</button></td>
                            <td><button class="btn btn-danger" type="submit" ng-click="removeInstrutor(instrutor)"> Excluir Aula</button></td>
                        </tr>
                </table>
            </div>
                <div ng-show="editarInstrutor">
                    <label for="nome">Insira o nome do instrutor</label>
                    <input class="form-control" maxlength="20" minlength="3" type="text" ng-model="instrutorAtual.nome" required>
                    
                    <label for="sobrenome">Insira o sobrenome do instrutor</label>
                    <input class="form-control" maxlength="30" type="text" ng-model="instrutorAtual.sobrenome">
                    
                    <label for="idade">Insira a idade do instrutor</label>
                    <input class="form-control" type="number" ng-model="instrutorAtual.idade" required>
                    
                    <label for="email">Insira o email do instrutor</label>
                    <input class="form-control" type="email" ng-model="instrutorAtual.email" required>
                    
                    <label for="checkbox">Este instrutor esta dando aulas no CRESCER?</label>
                    <input class="checkbox" type="checkbox" ng-model="instrutorAtual.dandoAula" ng-true-value="'SIM'" ng-false-value="'NÃO'">

                    <label for="text">Foto do instrutor</label>
                    <input  class="form-control" type="text" ng-model="instrutorAtual.urlFoto">
                     
                    <button class="btn btn-success" type="submit" ng-click="salvarInstrutor(instrutorAtual)" name="nome">Salvar alterações</button>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <script src="js/controller.js"></script>
    </body>
</html>