body{
    margin: 0;
}

*{
    box-sizing: border-box;
}
.primary{
    width: 100%;
    height: 100vh;
    font-size: 0;
}
.p1{
    height: 25vh;
    font-size: 0;
}
.p1 > div{
    border: 2px solid black;
}
.primary > div > div {
    font-size: initial;
    display: inline-block; 
}
.p1 div{
    height: 100%;
}
.p1.red div{
    width: 25%;
    background-color: red;
}
.p1.blue div{
    width: 50%;
    background-color: blue;
}
.p1.purple div{
    width: 100%;
    background-color: purple;
}
.p1.yellow div{
    width: 10%;
    background-color:yellow;
}
