*{
    box-sizing: border-box;
}

body{
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
}

.title{
    background-color: #c4170c;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}

strong{
    color: white;
    font-size: 30px;
}

.column{
    margin-top: 40px;
    margin-left: 10vh;
    margin-right: 10vh;
    width: 40%;
    background-color: white;
    border: 1px solid gray;
}

@media screen and(max width:800px){
    .column{
        width: 100%;
    }
}

.column:nth-child(odd){
    float: left;
}
.column:nth-child(even){
    float: right;
}

.column .titleNotice{
    margin-top: 30px;
}

.column .titleNotice h1{
    padding: 0px 60px;
    color: #c4170c;
}

.column .subTitle{
    padding: 0px 60px;
    color: #bbb;
    font-size: 16px;
    margin-bottom: 20px;
}

.column .Image img{
    width: 160px;
    height: 100px;
    float: right;
    margin-left: 10px;
}

.column .Text{
    float: left;
    padding: 10px 60px;
    font-size: 18px;
    color: #333;
    text-align: left;
    margin-bottom: 30px;
    line-height: 30px;
}

.column .Text::first-letter{
    text-transform:uppercase;
    font-size:80px;
    line-height:55px;
    float:left;
    color: #c4170c;
}

.column .time{
    padding: 0px 60px;
    margin-top: -40px;
    color: #bbb;
    font-size: 16px;
    float: right
}