*{
    box-sizing: 0;
    font-family: 'Slabo 27px', serif;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-image: url("http://i0.kym-cdn.com/photos/images/original/000/964/872/5b5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#check{
    display: none;
}
#icone{
    cursor: pointer;
    padding: 15px;
    position: fixed;
    z-index: 1;
}
.barra{
    background-color: #333;
    height: 100%;
    width: 300px;
    position: fixed;
    transition: all 0.2s linear;
    left: -300px;
}
nav{
    width: 100%;
    position: absolute;
    top: 60px;
}
nav a{
    text-decoration: none;
}
.link{
    background-color: #494950;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    transition: all 0.2s linear;
    color: #f4f4f9;
    border-bottom: 2px solid #222;
    opacity: 0;
    margin-top: 200px;
}
.link:hover{
    background-color: #844010;
}
#check:checked ~ .barra{
    transform: translateX(300px);
}
#check:checked ~ .barra nav a .link{
    opacity: 1;
    margin-top: 0;
    transition-delay: 0.2s;
}
.welcome{
    background-color: rgba(52, 73, 94, 0.7);
    width: 600px;
    height: 110px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}
.welcome .imgW{
    text-align: center;
}
.welcome .labelW{
    text-align: center;
}
.imgW img{
    width: 60px;
    height: 60px;
    border-radius: 25px;
}
.labelW label{
    font-size: 19px;   
}
.insertPost{
    background-color: rgba(52, 73, 94, 0.7);
    width: 600px;
    height: 120px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.insertPost textarea{
    margin-top: 10px;
    resize: none;
}
.Post{
    background-color: rgba(52, 73, 94, 0.7);
    width: 600px;
    height: 150px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Post .imagemPost{
    width: 100px;
    height: 75px;
    padding: 10px;
    display: inline-block;
}
.Post .imagemPost img{
    width: 100px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-top: 5px;
}
.Post .imagemPost p{
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.Post .dadoPost{
    width: 460px;
    height: 120px;
    margin: 10px;
    background-color: rgba(52, 73, 94, 0.7);
    display: inline-block; 
    float: right;
}
.container{
    width: 600px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(52, 73, 94, 0.7);
    margin-top: 150px;
    border-radius: 25px;
}
.container img{
    height: 120px;
    width: 150px;
    margin-top: -60px;
    margin-bottom: 30px;
    border-radius: 50%;
}
.container input{
    height: 45px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 10px;
}
.cad_input{
    width: 600px;
    height: 680px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(52, 73, 94, 0.7);
    margin-top: 150px;
    border-radius: 25px;
}
.cad_input img{
    height: 120px;
    width: 150px;
    margin-top: -60px;
    margin-bottom: 30px;
    border-radius: 50%;
}
.cad_input input{
    margin-top: 10px;
    height: 45px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 10px;
}
.cabecalhoPerfil{
  width:600px;
  height:250px;
  background-color: rgba(52, 73, 94, 0.7);
  margin: 0 auto;
  color: white;
  margin-top: 10px;
}
.cabecalhoPerfil .fotoPerfil{
  width:200px;
  height:250px;
  float:left;
}
.cabecalhoPerfil .fotoPerfil img{
  width: 180px;
  height: 200px;
  border-radius: 50%;
  display:block;
  margin: 0 auto;
  padding-top:12%;
}
.infosPerfil{
  width:400px;
  height:250px;
  float: right;
}
.infosPerfil div{
  width:400px;
  height:25%;
  text-align:center;
  font-size:20px;
}
.listaAmigos{
  width:600px;
  height:150px;
  background-color: rgba(52, 73, 94, 0.7);
  margin:0 auto;
}
.listaAmigos div{
  width:33%;
  height:150px;
  display:block;
  float:left;
  text-align:center;
  margin-top: 10px;
}
.imagemAmigo img{
  width:80%;
  height:130px;
  border-radius:50%;
}
.nomeAmigo strong{
  margin: 0 auto;
}
.botaoPerfil a{
  display: block;
  text-decoration: none;
  margin: 0 auto;
}