* {
  box-sizing: border-box;
}
body{
    background-image: url("https://i.imgur.com/eVcYPSa.png");
}
.menu{
    background-color: aquamarine;
    width: 400px;
    height: 80px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 40px;
}
.menu .obj{
    padding-top: 30px;
    text-align: center;
}

#elementosPokemon > h3{
    text-align: center;
}

img{
    text-align: center;
    margin: 0 auto;
    display: block;
}

.container{
    display: inline-block;
}
h6{
    text-align: center;
}
progress{
    margin:0 auto;
}
.container-fluid{
    position: relative;
    width: 30%;
    margin: 0 auto;
    background-color:aquamarine;
    border-radius: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
}
#elementosPokemon{
    position: relative;
    width: 50%;
    margin: 0 auto;
}
#elementosPokemon img{
  border: 5px solid white;
}
hr{
   border: 1px solid black;
}