<div class="row">
    <div class="col-md-3"></div>
        <div class="col-md-6">
            
                <div class="mensagem">
                    <ul ng-repeat="mensagem in mensagens">
                        <li>
                            <img ng-src="{{mensagem.usuario.UrlFoto}}" class="img-circle" width="40px" height="40px">
                            <strong>{{mensagem.usuario.Nome}}:</strong>
                            {{mensagem.Texto}}
                            <span>{{mensagem.DataEnvio | date:'MM/dd/yyyy HH:mm'}}</span>
                        </li>
                    </ul>
                </div>
                
                <form name="mensagem" class="send" ng-submit="addMensagem(mensagem)">
                    <div class="form-group">
                        <textarea class="form-control" minlength="1" rows="5" ng-model="mensagem.Texto"></textarea>
                        <button type="submit" class="btn btn-primary" ng-disabled="mensagem.$invalid">Enviar Mensagem</button>                      
                        <button type="submit" class="btn btn-danger" ng-click="logout()">Logout</button>
                    </div>
                </form>
            </div>
            
        </div>   
    <div class="col-md-3"></div>
</div>