<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="js/controller.js"></script>
        <style>
            h3{
                text-align: center;
                font-size: 22px;
                color: black;
            }
        .col-md-3{
                padding-top: 25px;
            }
        #procurar{
                height: 300px;
                background-color: aquamarine;
            }
        </style>
        </head>
    <body ng-app="myApp">
        <div class="row" id="procurar">
            <div class="col-md-3">
                 <img src="img/poke.png" alt="">
            </div>
                <div ng-controller="controller2">
                    <div class="col-md-3">
                        <h3>Insira o nome do POKEMON</h3>
                        <input type="text" class="form-control" ng-model="procuraPokemon">
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li class="list-group-item" ng-repeat="pokemon in pokemons | filter:procuraPokemon">
                                NOME:{{pokemon.nome}} | TIPO:{{pokemon.tipo}} 
                            </li>
                        </ul>
                    </div>
                </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <img src="img/Pikachu.png" alt="">
                    </div>
                    <div class="col-md-2">
                        <img src="img/squirtle.png" alt="">
                    </div>
                    <div class="col-md-2">
                        <img src="img/charmander.png" alt="">
                    </div>
            <div class="col-md-3"></div>
        </div>  
    </body>
</html>