body{
     background-image: url("http://wallpapercave.com/wp/vgnwpGb.jpg");
}

.title{
    width: 100%;
    height: 280px;
    text-align: center;
}

.title img{
    text-align: center;
    padding: 20px;
}

.Mario{
  width: 24%;
  height: 320px;
  background-image: url("marioalternativo.png");
  background-repeat: no-repeat;
  border-radius: 25px;
  float: left; 
  margin-left: 55px;
}

.text{
    width: 65%;
    height: 320px;
    border-radius: 20px;
    float: right;
    background-color: white;
    padding: 10px;
}

.text p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color:  black;
    text-align: justify;
}

.spotify iframe{
    width: 30%;
    height: 920px;
    margin-left: 15px;
    margin-top: 15px;
    float: left;
}

.jogos{
    margin-top: 10px;
    float: right;
    width: 65%;
}

.game1{
    margin: 15px;
    width: 95%;
    height: 60px;
    font-family: cursive;
    font-size: 35px;
    color:white;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 25px;
}

.game2{
    margin: 15px;
    width: 95%;
    height: 60px;
    font-family: cursive;
    font-size: 35px;
    color:white;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 25px;
}

.game3{
    margin: 15px;
    width: 95%;
    height: 60px;
    font-family: cursive;
    font-size: 35px;
    color:white;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 25px;
}

.imagem{
    margin: 5px;
    border-radius: 25px;
    width: 400px;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.capa1{
    background-image:url("mariobros2.jpg");
}
.capa2{
    background-image:url("mariobros.png");
}
.capa3{
    background-image:url("NES.jpg");
}
.capa4{
    background-image:url("Nes.png");
}
.capa5{
    background-image:url("mario64.png");
}
.capa6{
    background-image:url("mario642.png");
}